body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    padding: 2rem;
}

h1, h2 {
    color: #2c3e50;
}


/* Apartment details */
.details p {
    margin: 5px 0;
}

/* Amenities list */
ul {
    list-style-type: square;
    padding-left: 1.5rem;
}

/* Map styling */
.map {
    margin-top: 1.5rem;
}

#google-map {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 350px;
    margin: 20px auto;
    overflow: visible;
    border-radius: 10px;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease;
    height: 100%;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 8px;
}


.carousel-btn {
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    padding: 6px 10px;
    font-size: 18px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-btn:hover {
    background: rgba(0, 0, 0, 0.75);
}
